<html>
<head>
  <link rel="stylesheet" type="text/css" href="./styles.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <title>Welcome to my store</title>
</head>
<body>
  <h1>Welcome, to my web store</h1>
  <p id="errors"></p>
  <form action="/pay" method="post" id="payment-form">
    <p>
      <input type="text" name="email" placeholder="email">
    </p>
    <% @products.each do |product| %>
    <p>
      <input 
        type="radio" 
        name="selectedProduct" 
        value="<%= product["id"] %>">
        <p>
          ID: <%= product["id"] %>
        </p>
        <p>
          <%= product["description"] %>
        </p>
        <p>
          $<%= (product["price"] / 100 )%>
        </p>
    </p>
    <% end %>
    <p>
      <input id="card-number" type="text" placeholder="card number">
    </p>
    <p>
      <input id="card-expiration-month" type="text" placeholder="card expiration month">
    </p>
    <p>
      <input id="card-expiration-year" type="text" placeholder="card expiration year">
    </p>
    <p>
      <input id="card-cvc" type="text" placeholder="card cvc">
    </p>
    <button type="submit" id="submitButton">
      Pay Now
    </button>
  </form>
  <script>
  $(document).ready(function() {
    Stripe.setPublishableKey("pk_test_7eGxNWLsBhgGKicizQt8IABH");
    $('#payment-form').submit(function(event) {
        // pause form submission
        event.preventDefault();

      // prevent the user from submitting twice
      // by disabling the submit button
      $("#submitButton").attr('disabled','disabled');

      console.log("Form submission is paused!");

      var tokenResponseHandler = function(status, response) {
        console.log("Response from Stripe token call:");
        console.log(response);
        // TODO: check for any input validation errors
        // TODO: if there are errors, display them at the top of the form
        // TODO: if there are not errors, add the token info to the form as a hidden field
        // TODO: submit the form
      };
      Stripe.card.createToken({
        number: $('#card-number').val(),
        cvc: $('#card-cvc').val(),
        exp_month: $('#card-expiration-month').val(),
        exp_year: $('#card-expiration-year').val(),
      }, tokenResponseHandler);
    });
    console.log("This script is working!");
  });
</script>
</body>
</html>